<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page- Ecomm Website</title>
    <link rel="stylesheet" type = text/css href="/public/stylesmain.css">
</head>
<body>
    <nav>
        <div class="nav-left">
            <h1>Ecomm Website</h1>
        </div>
        <ul class="nav-right">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Cart</a></li>
        </ul>
    </nav>

    <div class="carousel">
        <div class="carousel-slide">
            <img src="/public/nike1.jpg" alt="Slide 1">
            <img src="/public/nike2.jpg" alt="Slide 2">
            <img src="/public/nike3.jpg" alt="Slide 3">
        </div>
    </div>

    <div class="products">
        <div class="product">
            <img src="/public/nike4.jpg" alt="Shoe 1">
            <div class="product-info">
                <h2>Product 1</h2>
                <p>Price: $100</p>
                <a href="/public/product1.html"><button class="buy-button">Buy</button></a>
            </div>
        </div>

        <div class="product">
            <img src="/public/nike5.jpg" alt="Shoe 2">
            <div class="product-info">
                <h2>Product 2</h2>
                <p>Price: $120</p>
                <a href="/public/product2.html"><button class="buy-button">Buy</button></a>
                
            </div>
        </div>

        <div class="product">
            <img src="/public/nike6.jpg" alt="Shoe 3">
            <div class="product-info">
                <h2>Product 3</h2>
                <p>Price: $150</p>
                <a href="/public/product3.html"><button class="buy-button">Buy</button></a>
            </div>
        </div>
    </div>

    <footer>
        <p>Follow us on <a href="#">Twitter</a> <a href="#">Instagram</a> <a href="#">Facebook</a></p>
    </footer>
</body>
</html>

